<div class="row">
  <ul>
    <li>
      {{#link-to 'users.sign-in'}}
        Get Started!
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'users.sign-up'}}
        Get Started!
      {{/link-to}}
    </li>
  </ul>
</div>
