<h3>{{t 'auth.users.forgot_your_password'}}</h3>
<hr/>
<form>
  <div class="form-group">
    <label for="email">{{t 'auth.attributes.user.email'}}</label>
    <input type="email" class="form-control" id="email">
  </div>
  <button type="submit" class="btn btn-primary">{{t 'auth.users.send_me_reset_password_instructions'}}</button>
</form>
