<h3>{{t 'auth.users.sign_in'}}</h3>
<hr/>
<form>
  <div class="form-group">
    <label for="email">{{t 'auth.attributes.user.email'}}</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="password">{{t 'auth.attributes.user.password'}}</label>
    <input type="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary">{{t 'buttons.submit'}}</button>
</form>
