- @title = "#{@doc.css('head title').first.content}-#{@book.title}-#{@book.creator}"
h1 #{"#{@book.title}-#{@book.creator}"}
hr

p #{raw @doc.css('body').first.inner_html}

== render 'shared/rate_box', resource:@book
